.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-item {
    margin-right: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-right {
    align-items: center;
}

.nav-left a, .nav-right a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover {
    color: #ff9900;
}

.register, .logout {
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    border-radius: 10px;
}

.search-bar {
    display: flex;
    align-items: center; 
}

.search-dropdown {
    flex: 2; 
    margin-right: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    border: 2px solid #007bff; 
    border-radius: 4px; 
    color: #333; 
    padding: 8px; 
    cursor: pointer; 
}

.search-input {
    flex: 2; 
    margin-right: 10px;
    margin-bottom: 0px;
}

.search-button {
    flex: 0; 
    margin-bottom: 15px;
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 8px 16px;
    cursor: pointer; 
}

.search-button:hover {
    background-color: #0056b3;
}

.search-button:active {
    background-color: #022f5f;
}